
.back-nav:hover{
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.15;
}
.forward-nav:hover{
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.15;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}