


@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 7.91%;
}
body {
  position: absolute;
  left: -0.29%;
  right: 65.37%;
  top: 0%;
  bottom: -50.26%;
  overflow: hidden;
}
.hero {
  background-image: url(./assets/girl-with-pearl-earring/thumbnail.jpg);
  position: absolute;
  left: 10.29%;
  right: 5.37%;
  top: 0%;
  bottom: 50.26%;
  top: calc(10% - 16px / 2 - -1.5px);
}
.container {
  position: absolute;
  left: 85.15%;
  right: 30.13%;
  top: 9%;
  bottom: 70.86%;
  background-color: white;
  width: 25rem;
  text-align: center;
}
h2 {
  height: 118px;
  left: 555%;
  right: 80%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
  top: calc(10% - 6px / 2 - -1.5px);
}
h4 {
  font-size: 15px;
  line-height: 28px;
  padding: 30px 50px;
  font-weight: 700;
  font-family: "Libre Baskerville";
  left: 20%;
  top: 10%;
}

h1 {
  position: absolute;
  height: 150px;
  left: 155%;
  right: 155%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
  text-align: right;
  color: #f3f3f3;
  width: 25rem;
}
p {
  position: relative;
  height: 364px;
  left: 100.07%;
  right: 290.19%;
  top: calc(37% - 364px / 2 - 15px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #7d7d7d;
  text-align: right;
  width: 25rem;
  margin-inline-start: 22rem;
}
a {
  position: absolute;
  height: 10%;
  left: -80.07%;
  right: 2.43%;
  top: calc(40% - 11px / 3 + 253.5px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  text-decoration-line: underline;
  color: #7d7d7d;
  width: 25rem;
  text-transform: uppercase;
}
h5 {
  position: absolute;
  height: 22px;
  left: 10%;
  right: 31.48%;
  top: calc(50% - 16px / 2 + 19.5px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.75;
}
h6 {
  position: absolute;
  height: 1px;
  left: 10%;
  right: 35.48%;
  top: calc(50% - 16px / 2 + 35.5px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.footer {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border-radius: 10%;
}
.nav {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 90.24%;
  bottom: 0%;
  box-shadow: #000000;
  color: red;
}
