@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 7.91%;
}
.container {
  position: absolute;
  left: 85.15%;
  right: 30.13%;
  top: 9%;
  bottom: 70.86%;
  background-color: white;
  width: 25rem;
  text-align: center;
}
.hero {
  background-image: url(../src/assets/the-boy-in-the-red-vest/hero-small.jpg);
  position: absolute;
  left: 10.29%;
  right: 4.37%;
  top: 0%;
  bottom: 30.26%;
  top: calc(10% - 16px / 2 - -1.5px);
  background-repeat: no-repeat;
}
h2 {
  height: 118px;
  left: 555%;
  right: 80%;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
  top: calc(10% - 6px / 2 - -1.5px);
}
h4 {
  font-size: 15px;
  line-height: 28px;
  padding: 30px 50px;
  font-weight: 700;
  font-family: "Libre Baskerville";
  left: 20%;
  top: 10%;
}
h1 {
  position: absolute;
  height: 150px;
  left: 0%;
  right: 16.78%;
  top: calc(50% - 150px / 2 - 88.5px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
  text-align: right;
  color: #f3f3f3;
}
p {
  position: absolute;
  height: 252px;
  left: 20.1%;
  right: 0%;
  top: calc(50% - 252px / 2 + 37.5px);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #7d7d7d;
}
a {
  position: absolute;
  width: 102px;
  height: 11px;
  left: 155px;
  top: 1120px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1.92857px;
  text-decoration-line: underline;
  color: #7d7d7d;
}
button {
  position: absolute;
  width: 152px;
  height: 40px;
  left: 56px;
  top: 633px;
  color: #f3f3f3;
  text-transform: uppercase;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.container2 {
 display: inline-flex;
 flex-direction: column;
 margin-inline-start: 10rem;
 margin-top: 10em;
}
