* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideshow {
  /* width: 100vw; */
  /* border: 5px solid #230155; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;

  padding: 2rem;
  padding-bottom: 0;
}
.slideshow > * {
  /* border: 5px solid #888 ; */
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
  justify-content: space-between;

  font-family: "Libre-Baskerville-Bold";
  font-size: 48px;
}

.header :nth-child(2) {
  justify-self: flex-end;
}

.header-link {
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  text-align: right;
  letter-spacing: 2.57143px;
  text-decoration: none;

  color: #7d7d7d;
}
.header-link:hover {
  color: #000;
}
/*Divider*/

/* .content-body{
    display: flex;
    flex-direction: column;
} */

/* Gallery details*/
.content-body > * {
  /* border: 2px solid #f8abdd; */
}
.slideshow-section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 2rem;
 /*  margin-top: -1%; */
}

/* Gallery details*/
.gallery-details {
  display: flex;
  flex-direction: row;
}
.gallery-details > * {
  /* border: 2px solid #000; */
}
.gallery-image {
  display: flex;
  flex-direction: row;
  /* gap:1rem; */
}

.gallery-image > img {
  width: 450px;
  height: 475px;
}

/* Gallery-Name */
.gallery-name {
  height: 250px;
  width: 450px;
  background-color: #fff;
  position: absolute;
  left: 28%;
  right: 0%;
  top: 30.999997%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.7rem;
  padding: 0.5rem 2.5rem 0 2.5rem;
}

.gallery-name > h1 {
  /* width: 380px; */
  font-family: "Libre-Baskerville-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  width: 280px;
}

.gallery-name > p {
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #7d7d7d;
}

/*Gallery-Artist*/
.gallery-artist {
  display: flex;
  position: relative;
  top: 10%;
  left: 6%;
  align-self: flex-end;
}
.gallery-artist > img {
  align-self: flex-end;
}

/* Artist-Message */
.artist-message {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
  margin-top: 3rem;
  /* margin-left: -15rem; */
  margin-left: 2.78%;
  

}

.artist-message > h1 {
  font-family: "Libre-Baskerville-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 200px;
  line-height: 150px;
  height: 150px;
  color: #f3f3f3;
}
.art-text {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.art-text > p {
  width: 350px;
  height: 336px;
  margin-top: -40px;
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #7d7d7d;
  z-index: 1;
  align-items: center;
}

.art-text > a {
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 1.92857px;
  text-decoration-line: underline;
  color: #7d7d7d;
  margin-top: -10rem;
}

.art-text > a:hover {
  color: #000;
}
.img-tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;
  width: 170px;
  height: 40px;
  background-color: #000;
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.75;

  position: absolute;
  bottom: -8%;
  left: 5%;
  cursor: pointer;
  padding: 16px;
  /* align-self: flex-end; */
  z-index: 999;
}
.img-tag:hover {
  background-color: #555;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.img-tag > img {
  width: 14px;
  height: 14px;
  /* z-index: ; */
}
.img-tag > h1 {
  /* z-index: 1; */

  font-family: "Libre-Baskerville";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.142857074737549px;
  text-align: right;
}

.myModal {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  transition: all 0.9s ease-in;
}

/*Footer*/
.progressBar {
  margin-top: 100px;
  display: block;
  background-color: #000000;
  height: 2px;
  margin-top: 1%;
}

.footer {
  /* margin-top: 100px; */

  align-self: flex-end;
  /* border: 2px solid #2fa; */
  /* padding-top: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;
}

.footer-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-details > h2 {
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.footer-details > p {
  font-family: "Libre-Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.75;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.back-nav:hover {
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.15;
}
.forward-nav:hover {
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.15;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}
@media only screen and (max-width: 768px) {
  .slideshow {
    width: 100%;
  }
  .slideshow-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
