*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideshow{
    /* width: 100vw; */
    border: 5px solid #230155;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: 2rem;
    
}
.slideshow > *{
    /* border: 5px solid #888 ; */
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    justify-content: space-between;

    font-family: "Libre-Baskerville-Bold";
    font-size: 48px;
}

.header :nth-child(2){
    justify-self: flex-end;
}

.header-link{
    font-family: 'Libre-Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
    letter-spacing: 2.57143px;
    text-decoration: none;

    color: #7D7D7D;

}
.header-link:hover{
     color: #000;
}
/*Divider*/

/* Gallery details*/
/* .content-body{
    display: flex;
    flex-direction: column;
} */

.content-body > *{
    border: 2px solid #f8abdd;
}
.slideshow-section{
 display: grid;
 grid-template-columns: repeat(2,1fr);
}
.gallery-details{
    display: flex;
    flex-direction: row;
}
.gallery-details > *{
    border: 2px solid #000;
}
.gallery-image  {
    display: flex;
    flex-direction: row;
    /* gap:1rem; */
}
    
.gallery-name{
    height: 238px;
    width: 445px;
    background-color: #fff;
    position: absolute;
    left: 40%;
    right: 0%;
    top: 24%;
    bottom: 0%;
}

.img-tag{
    
    width: 152px;
    height: 40px;
    /* margin-right: 5rem; */
    color: #fff;
    background-color: #000;
    align-self: flex-end;
    z-index: 999;
}
.img-tag > h2{
    
    font-family: 'Libre-Baskerville';
    font-size: 5rem;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 2.142857074737549px;
    text-align: right;
}



/*Footer*/
.footer{
    /* align-self: flex-start; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-divider{
    border: 1px solid #e5e5e5;
    flex-basis: 100%;
}

.footer-details > h2{
    font-family: 'Libre-Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer-details > p{
    font-family: 'Libre-Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.75;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.back-nav:hover{
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.15;
}
.forward-nav:hover{
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.15;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}